#container{
    display: flex;
    flex-direction: column;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: lightskyblue;
}
#content{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col{
    display: flex;
    flex-direction: column;
}
.b-menu{
    background-color: lightskyblue;
    border: none;
}
#left-menu{
    display: flex;
    flex-direction: row;
}
#row{
    display: flex;
    justify-content: space-around;
}